@import url('fonts.css');

* {
    --white: #ffffff;
    --gray: #cdcdcd;
    --gray-dark: #444444;
    --black: #000000;

    box-sizing: border-box;
    font: 100% / 1.6 'Inter', Arial, Helvetica Neue, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--gray-dark);
    margin: 0;
    padding: 0;
}

header,
.color-palettes,
footer {
    box-shadow: 0px 0px 64px rgba(0, 0, 0, .64);
    margin: 0 auto;
    max-width: 80vw;
    width: 100%;
}

header {
    align-items: center;
    background-color: var(--black);
    color: var(--white);
    display: flex;
    flex-direction: column;
    font-weight: 200;
    justify-content: space-between;
    padding: 2rem;
    position: relative;
    text-align: center;
}

@media (min-width: 960px) {
    header {
        flex-direction: row;
    }
}

header h1 {
    font-size: 2rem;
    padding-top: 1rem;
}

header a {
    color: var(--gray);
}

header span {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    width: fit-content;
}

header span #color-selector,
header span #variations {
    background: var(--white);
    border: none;
    border-radius: 0;
    cursor: pointer;
    display: block;
    height: 2.4rem;
    margin: 0 auto;
    padding: .5rem;
    width: 10rem;
}

header span #variations {
    font-size: 1rem;
    height: 2.4rem;
    margin-top: 0;
}

main {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.code-container .color .color-codes .rgb:before,
.code-container .color .color-codes .hsl:before,
.code-container .color .color-codes .hex:before {
    display: inline-block;
    height: 2rem;
    margin-right: 1rem;
    width: fit-content;
}

.code-container .color .color-codes .rgb:before {
    content: 'RGB:';
}

.code-container .color .color-codes .hsl:before {
    content: 'HSL:';
}

.code-container .color .color-codes .hex:before {
    content: 'HEX:';
}

.color-palettes {
    background: var(--gray-dark);
    color: var(--white);
    display: flex;
    flex: 0 1 auto;
    flex-wrap: wrap;
    justify-content: start;
    padding-top: 2rem;
}

.color-palettes [id^='palette-container-'] {
    align-items: center;
    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
}

@media (min-width: 680px) {
    .color-palettes [id^='palette-container-'] {
        flex: 1 1 50%;
    }
}

@media (min-width: 960px) {
    .color-palettes [id^='palette-container-'] {
        flex: 1 1 33%;
    }
}

h2,
.color-palettes .palette-title {
    color: var(--gray);
    font-size: 1.25rem;
    font-weight: 400;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
}

h3 {
    color: var(--gray);
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

canvas {
    height: auto;
    max-width: 480px;
    width: 100%;
}

.color-palettes .code-container .color {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 2rem;
}

.color-palettes .code-container .color .color-codes {
    align-items: baseline;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1rem;
}

.color-preview {
    height: 8rem;
    outline: 2px solid var(--white);
    width: 30%;
}

.color-palettes .code-container .color .color-codes div div {
    align-items: center;
    border-radius: 1rem;
    display: inline-flex;
    flex-direction: row;
    margin-right: 0.5rem;
    position: relative;
    text-align: right;
    justify-content: center;
    width: 2rem;
}

.button {
    appearance: none;
    background: var(--black);
    border-radius: 2rem;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 4rem;
    padding: .75rem 1.5em;
    transition: all .16s ease-in-out;
}

.button:hover {
    background-color: var(--gray);
    color: var(--black);
    transition: all .16s ease-in-out;
}

.details-modal {
    background: var(--white);
    border-radius: 1rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    left: 50%;
    max-height: 90vh;
    max-width: 90%;
    pointer-events: none;
    position: absolute;
    text-align: left;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 24rem;
}

.details-modal .details-modal-close {
    align-items: center;
    align-self: end;
    color: var(--black);
    display: flex;
    height: 4.5em;
    justify-content: center;
    pointer-events: none;
    position: relative;
    right: 0;
    top: 0;
    width: 4.5em;
}

.details-modal .details-modal-close svg {
    display: block;
}

.details-modal .details-modal-content {
    border-top: 1px solid var(--gray);
    color: var(--black);
    padding: 2rem;
    pointer-events: all;
    position: relative;
    overflow: auto;
}

.details-modal-overlay {
    background: rgba(15, 23, 42, 0.8);
    bottom: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    right: 0;
    top: 0;
    transition: opacity 0.2s ease-out;
}

details[open] .details-modal-overlay {
    cursor: pointer;
    opacity: 0.5;
    pointer-events: all;
}

details summary {
    display: flex;
    justify-content: center;
}

details summary:focus {
    outline: none;
}

details summary::-webkit-details-marker {
    display: none;
}

footer {
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
}

@media (min-width: 960px) {
    footer {
        flex-direction: row;
    }
}

footer>* {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

footer a {
    color: var(--gray);
    margin: 0 0 1rem 2rem;
    text-decoration: none;
}

footer img {
    height: auto;
    margin-bottom: 2rem;
    max-width: 2rem;
    width: 100%;
}