@import url('fonts.css');

* {
    --white: #ffffff;
    --gray: #cdcdcd;
    --gray-dark: #444444;
    --black: #000000;

    box-sizing: border-box;
    font: 100% / 1.6 'Inter', Arial, Helvetica Neue, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--gray-dark);
    margin: 0;
    padding: 0;
}

main {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.header,
.color-palettes {
    box-shadow: 0px 0px 64px rgba(0, 0, 0, .64);
    max-width: 80vw;
    /* padding: 2rem; */
    width: 100%;
}

.header {
    align-items: center;
    background-color: var(--black);
    color: var(--white);
    display: flex;
    flex-direction: column;
    font-weight: 200;
    justify-content: space-between;
    padding: 2rem;
    position: relative;
    text-align: center;
}

@media (min-width: 960px) {
    .header {
        flex-direction: row;
    }
}

.header h1 {
    font-size: 2rem;
    padding-top: 1rem;
}

.header a {
    color: var(--gray);
}

.header span {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.header details {
    background-color: var(--white);
    color: var(--black);
    cursor: pointer;
    height: 2.4rem;
    margin-top: 24px;
    padding: .5rem 1rem;
    display: flex;
}

.header .details-open {
    align-items: baseline;
    background-color: var(--white);
    box-shadow: 0 16px 16px rgba(0, 0, 0, .4);
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    position: absolute;
    transform: translate3d(-16px, 8px, 0);
}

input[type="checkbox"] {
    margin-right: 8px;
    margin-left: -16px;
}

.header span #color-selector,
.header span #variations {
    background: var(--white);
    border: none;
    border-radius: 0;
    cursor: pointer;
    display: block;
    height: 2.4rem;
    margin: 0 auto;
    padding: .5rem;
    width: 10rem;
}

.header span #variations {
    font-size: 1rem;
    height: 2.4rem;
    margin-top: 0;
}

.color-preview {
    align-self: normal;
    display: flex;
    flex: 1 1 auto;
}

.code-container .color .color-codes .rgb:before,
.code-container .color .color-codes .hsl:before,
.code-container .color .color-codes .hex:before {
    display: inline-block;
    height: 2rem;
    margin-right: 1rem;
    width: fit-content;
}

.code-container .color .color-codes .rgb:before {
    content: 'RGB';
}

.code-container .color .color-codes .hsl:before {
    content: 'HSL';
}

.code-container .color .color-codes .hex:before {
    content: 'HEX';
}

.color-palettes {
    background: var(--gray-dark);
    color: var(--white);
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 auto;
    justify-content: center;
    padding-top: 2rem;
}

.color-palettes [class^='palette-container-'] {
    flex: 0 1 auto;
    margin-right: 2rem;
}

.color-palettes .palette-title {
    text-align: center;
}

canvas {
    height: auto;
    max-width: 320px;
    width: 100%;
}

.color-palettes .code-container .color {
    align-items: center;
    display: flex;
    flex-direction: row;
    padding-bottom: 2rem;
}

.color-palettes .code-container .color .color-codes {
    align-items: baseline;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1rem;
}

.color-palettes .code-container .color .color-codes div {
    z-index: 2;
}

.color-palettes .code-container .color .color-codes div div {
    align-items: center;
    border-radius: 1rem;
    display: inline-flex;
    flex-direction: row;
    margin-right: 0.5rem;
    position: relative;
    text-align: right;
    justify-content: center;
    width: 2rem;
}

.hidden {
    display: none;
}